/* --- Estilos Generales --- */

* {
    margin: 0;
    padding: 0;
    /* Esto sirve para que las cajas tomen el valor que le
    damos sin necesidad de estar sumando el paddin
    por ejemplo, si tenemos una seccion de 500px
    y le coloco a la derecha con float:left
    un article de width:300px mas un paddin:20px
    me quedan 200px(sin las tres lineas de abajo quedarian
    160px a la izquierda) nos van a sobrar 200px a la
    izquierda, donde se puede agregar un aside con 
    float:rigth width:200px paddin:20px 
    (((((((importante: si
    hacen lo anterior tener en cuenta que en la siguiente
    estructura sea de linea o bloque tienen que colocar
    clear:both)))))))
    Si no lo entienden y no les deja hacer lo que quieren
    hacer solo comenten las de abajo */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
/* --------FIN-estilos generales--------- */
/* --------Body-------------- */

body {
    /* width: 100%; */
    margin-top:8%;
    background-color: #d9d9d6;
    height: auto;

}
/* --------FIN-body--------- */
/* ----Header--- */
header{
    color:black;
    /* text-align: center; */
    /* margin: auto; */
    /* height:100px; */
    width: 100%;
    background-color:#c3b7bc;
    position: fixed;
    top:0%;
}
/* ----Fin Header */
/* --- Menú Principal --- */

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul li{
    margin:100px;
}

.logoMazo{
    /* display: inline-block; */
    width: 150px;
    margin: 10px;
    float:left;
    /* height: auto; */
    /* position: absolute; */
}

.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


.nav ul a{
    display:block;
    /* color:#fff; */
    text-decoration:none;
    color: white;
    /* font-weight:400; */
    /* font-size:15px; */
    padding:10px;
    text-transform:uppercase;
    letter-spacing:1px;
}

.nav ul li{
    position: relative;
    float:left;
    margin: 0;
    padding: 0;
}

.nav ul li:hover{
    background-color: grey;
}

.nav ul ul{
    display:none;
    position: absolute;
    top:100%;
    left:0;
    padding: 0;
}

.nav ul ul li{
    float:none;
    width: 150px;
}

.nav ul ul a{
    padding: 10px 15px;
}

.nav ul li:hover > ul{
    display: block;
    background-color:#c3b7bc;
    border:1px solid rgba(131, 128, 128, 0.527)
}
/* - - - -Fin -Menu Principal - - - - - */

/* --- Main --- */

/* Selección de Categoría */
.contenedor{
	display: flex;
	height: auto;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	background-color: #DADADA;
	padding: 30px;
}

.contenido{
    height: auto;
    overflow:clip;
	background-color: green;
	width: 25%;
	background-color: #C8C9C7;
	padding: 10px;
	margin-right: 10px;
	flex: 1;

}

.contenido h2{
	text-align: center;
	width: 100%;
	height: 5px;
}

.contenido img{
	width: 90%;
	height: 500px;
	padding: 40px;
}

.contenido button{
    cursor: pointer;
	margin-left: 45px; 
	width: 70%;
	height: 30px;
	color: #FFFFFF;
	background-color: #5F4028;
	font-family: "times new roma";
	border: none;
	border-radius: 100px;
}

.contenido button:hover{
    background-color:  rgba(95, 64, 40, 0.8);
}

.contenido button a{
	text-decoration: none;
	color: #FFFFFF;
	
}

/* ---------FIN-Seleccion-------- */

/* -----Newsletter-------- */

.contenedorBoletin {
    margin: 35px auto 25px auto;
    width: 30%;
    /* background-color: red; */
}

.contenedorBoletin h2 {
    margin-bottom: 10%;
    text-align-last: justify;
}

.contenedorBoletin input[type="email"], input[type="submit"] {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 15px auto 0 auto;
}

.contenedorBoletin input[type="email"] {
    border-style: none;
    padding: 1px;
    background-color: transparent;
    border-bottom: 1px solid black;
    font-size: 17px;
}

.contenedorBoletin input[type="email"]:focus {
    border-bottom: 2px solid black;
    /*Las 5 lineas de abajo estan para quitarle el borde azul que se pone cuando hacemos focus en un input*/
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.contenedorBoletin input[type="submit"] {
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.contenedorBoletin input[type="submit"]:hover {
    background-color: rgba(80, 80, 80, 0.63);
}

/* - - - - -FIN-NS - - - - */
/* --------FIN-Main--------- */

/* --- Pie de Página --- */

footer {
    /* margin-bottom: 0px; */
    /* top:100%; */
    background-color: rgb(54, 48, 46);
    text-align: center;
}

/* Métodos de Pago - Formas de Envío */

.contenedor_footer {
    margin: 0 auto;
    display: inline-block;
    padding: 2rem 10rem;
    width: auto;
    color: white;
    /*position: relative;    
    width: 100%;
    height: 100px;*/
}

.lista_footer {
    list-style: none;
}

/* FIN -Métodos de Pago - Formas de Envío */
/* ----Aceeso a paginas------ */
.footerEnlaces{
    padding-top:2rem;
    background-color:#53565A;
    display: block;
}
.footerEnlaces li{
    display: inline;
}
.footerEnlaces a{
    text-decoration: none;
    padding: 0 4px;
    color:white;

}
/*  FIN-Acceso a paginas */
/* - - - -FIN-footer - - - - - */

/* --- Cookies --- */

.cookies {
    position: fixed;
    bottom: 0%;
    text-align: center;
    font-size: 15px;
    background-color: rgba(149, 148, 148, 0.5);
    width: 100%;
    height: 50px;
    z-index: 99999;
}

.cookies p {
    position: relative;
    top: 50%;
}

.btn1 {
    margin: 10px;
    float: right;
}

.btn2 {
    border-style: none;
    background-color: rgba(15, 90, 65, 0.815);
}

/* - - - - -FIN-Cookies - - - - */